:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(57, 79, 131);
}

a {
  display: flex;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: inherit;
  align-items: center;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
}
